@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap");
$sm: 569px;
$md: 768px;

// Bootstrap overrides
$theme-primary: #fff175;
$theme-secondary: #fdf9d2;
$theme-dark: #16151c;
$theme-gray: #c5c5c6;
$theme-info: #c5c5c6;
$text-2: #212529;
$transition: all 0.3s ease-in;

// Global resets
.btn-theme-primary {
  background-color: $theme-primary !important;
  color: $theme-dark !important;
  &:hover {
    background: transparent;
    color: $theme-primary;
  }
}

.btn-outline-theme-dark {
  background-color: transparent;
  color: $theme-dark;
  &:hover {
    background: transparent;
    color: $theme-dark;
  }
}

.bg-theme-dark {
  background-color: $theme-dark !important;
}

.bg-theme-primary {
  background: $theme-primary;
}
.text-theme-primary {
  color: $theme-primary;
}

.text-theme-info {
  color: $theme-info;
}

.text-theme-info {
  color: $theme-info;
}

.text-theme-secondary {
  color: $theme-secondary;
}

.btn-outline-primary {
  border: 2px solid $theme-primary;
  color: $theme-primary;
  transition: $transition;
  &:hover {
    background: $theme-primary;
    color: $theme-dark;
    border-color: $theme-primary;
  }
}

html {
  width: 100% !important;
  height: 100%;
}
body {
  font-family: "Popins", sans-serif !important;
  color: $theme-dark;
  width: inherit !important;
  height: inherit !important;
  max-width: 100% !important;
  min-height: 100%;
  margin: 0;

  overflow-x: hidden;
  font-size: 16px !important;
  @media screen and (max-width: $md) {
    font-size: 14px !important;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 5rem !important;
  font-weight: bolder !important;
}
h2 {
  font-size: 3.4rem !important;
  font-weight: bolder !important;
}

h2 {
  font-size: 2.5rem !important;
  font-weight: bolder !important;
}

.btn {
  padding: 0.8rem 1.3rem !important;
}

.btn-theme-primary {
  font-weight: bolder !important;
  &:hover {
    background-color: transparent !important;
    border-color: $theme-primary !important;
    color: $theme-primary !important;
  }
}

.text-theme-light {
  color: whitesmoke !important;
}

.text-large {
  font-size: 8.4375rem;
  font-weight: 900;
  @media only screen and (max-width: 768px) {
    font-size: 6rem !important;
  }
  @media screen and (max-width: $sm) {
    font-size: 3.8rem !important;
  }
}
.text-18 {
  font-size: 18px !important;
}
.text-inherit {
  color: inherit;
}

.text-fade {
  color: rgba(255, 255, 255, 0.02) !important;
}

hr {
  border: 3px solid $theme-primary !important;
}

.btn-outline-dark {
  &:hover {
    background-color: $theme-dark;
  }
}
.w-90 {
  width: 90%;
}
#about {
  img {
    width: 523px;
    height: 479x;
    max-width: 95%;
  }
}

a {
  color: $theme-primary;
  &:hover {
    color: $theme-secondary;
  }
}
