@import "./variables";

// Local variables
$background: $primary;
$color-primary: $primary;
$color-light: white;
$color-dim: $primary;
$spacing: 0;
$radius: 4px;
$date: 120px;
$dotborder: 4px;
$dot: 18px;
$line: 4px;
$font-title: "Saira", sans-serif;
$font-text: "Saira", sans-serif;

// header
header {
  .navbar-brand {
    img {
      width: 4rem;
    }
  }
  .active {
    position: relative;
    ::before {
      content: url("/images/dot.svg");
      position: absolute;
      bottom: -4%;
      right: 50%;
    }
  }
}

// header
#hero {
  p {
    font-family: Saira;
    font-size: 1.35rem;
    font-weight: normal !important;
  }
  .image_line {
    width: 18rem;
    height: 24rem;
    max-width: 90%;
    max-width: 90%;
    // max-height: 95%;
    border: 3px solid $primary;
    position: relative;
  }
  .image {
    img {
      position: absolute;
      top: -5%;
      left: -6%;
      width: 18rem;
      height: 24rem;
    }
  }

  .welcome {
    h1 {
      color: rgba(255, 255, 255, 0.02) !important;
    }
  }

  @media only screen and (max-width: 767px) {
    text-align: center;
    .image_line {
      width: 16rem;
      height: 22rem;
      max-width: 90%;
      max-width: 90%;
      // max-height: 95%;
      border: 3px solid $primary;
      position: relative;
    }
    #right_hero {
      display: none !important;
    }
    .image {
      img {
        position: absolute;
        top: -5%;
        left: -6%;
        width: 16rem;
        height: 22rem;
      }
    }
    .text-content {
      margin: 2rem 0 !important;
    }
  }
}

// right hero section
@media screen and (max-width: $sm) {
  #right_hero {
    display: none !important;
  }
}

// Story section
#story {
  .image {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    img {
      width: inherit;
    }
  }
  /* Timeline */
  .timeline {
    border-left: 5px solid $primary;
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
    // background: fade($color-light, 3%);
    color: fade(white, 80%);
    font-family: $font-text;
    margin: $spacing auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: $spacing;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 50%;

    .event {
      border-bottom: 1px dashed fade($color-light, 10%);
      padding-bottom: ($spacing * 0.5);
      margin-bottom: $spacing;
      padding-left: 1rem;
      position: relative;

      &:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
      }

      &:before,
      &:after {
        position: absolute;
        display: block;
        top: 0;
      }

      &:before {
        left: (
            (($date * 0.6) + $spacing + $line + $dot + ($dotborder * 2)) * 1.5
          ) * -1;
        color: fade($color-light, 40%);
        content: attr(data-date);
        text-align: right;
        font-weight: 100;
        font-size: 0.9em;
        min-width: $date;
        font-family: $font-title;
      }

      &:after {
        box-shadow: 0 0 0 $dotborder fade($color-primary, 100%);
        left: ($spacing + $line + ($dot * 0.35)) * -1;
        background: lighten($background, 5%);
        border-radius: 50%;
        height: $dot;
        width: $dot;
        content: "";
        top: 5px;
      }
    }
  }
  .right_story {
    display: grid;
    place-items: center;
    border-radius: 3%;
  }
}

// Works section
#works {
  img {
    width: 20rem;
    height: 360px;
    max-width: 20rem;
    max-height: 20rem;
    margin: auto;
  }
  h3 {
    margin-top: 1rem;
  }
}

// Hire sectiom
#hire {
  form {
    .form-control {
      background: $dark;
      padding: 1.5rem;
      border: 2px solid $primary;
      &::placeholder {
        color: $primary;
      }
    }
  }
}

// Button pointer
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}
.about_pointer {
  animation: bounce 1s infinite alternate;
}

// footer

#footer {
  .about_me {
    position: absolute;
    // bottom: 10%;
    right: 20%;
  }
  .thank_you {
    font-weight: 700;
    // .text-large {
    //   color: blue !important;
    //   font-size: 7rem;
    // }
    @media screen and (max-width: $md) {
      flex-direction: column-reverse;
    }
  }
}
